@use "../abstracts" as *;

/*Styling ads-pages */

.content-title {
  font-size: $step-2;
  font-weight: $fw-600;
}

.membership {
  @include d-flex($gap: 2em);

  & > * {
    line-height: 1;
  }

  .value-info {
    font-size: $step-4;
    font-weight: normal;
  }

  .value-txt {
    font-size: $step--1;
    color: $secondary-clr;
  }
}

.ads {
  margin-block-end: $space-2xl;

  .d-grid {
    @include d-grid($gap: 0);
    grid-template-areas:
      "one"
      "two";
    border-radius: 1.25em;
    overflow: hidden;

    @include mq(medium) {
      gap: 0.5em;
      grid-template-areas: "one two";
    }
    @include mq(large) {
      gap: 1.5em;
    }
  }

  &-content {
    grid-area: one;
    background-color: $primary-clr;
    color: $white-clr;
    padding: $space-l-xl;
  }

  &-img {
    display: grid;
    grid-area: two;
    place-items: center;
    isolation: isolate;

    & > * {
      grid-column: 1 / -1;
      grid-row: 1/ -1;
    }

    .img-content {
      z-index: -1;
      min-height: 100%;
      object-fit: cover;
    }
  }

  &-btn {
    padding: 0.7em;
    border-radius: 50%;
    display: block;
    line-height: 1.3;
    aspect-ratio: 1;
    background-color: $custom-btn-bg-clr;

    .icon-yt {
      font-size: $step-3;
    }
  }
}
