@use "../abstracts/" as *;

/* Styling Recent */

.section-title {
  font-size: $step-3;
  font-weight: $fw-600;
}

.highlight {
  font-weight: $fw-700;
}

hr {
  opacity: 0.24;
}

.recent {
  margin-block-end: $space-2xl;

  &-txt {
    color: $p-clr;
    max-width: 30em;
  }

  .d-grid {
    @include d-grid();
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";

    @include mq(medium) {
      grid-template-areas:
        "one two"
        "three four"
        "five six";
    }

    @include mq(large) {
      grid-template-areas:
        "one two three"
        "four five six";
    }
  }

  .card {
    overflow: hidden;
    border-radius: 0.5em;
    border: 3px solid lightgray;

    &-heading {
      font-size: $step-1;
      font-weight: $fw-600;
    }

    &:first-child {
      grid-area: one;
    }
    &:nth-child(2) {
      grid-area: two;
    }
    &:nth-child(3) {
      grid-area: three;
    }
    &:nth-child(4) {
      grid-area: four;
    }
    &:nth-child(5) {
      grid-area: five;
    }
    &:last-child {
      grid-area: six;
    }

    &-hero {
      grid-area: last;
      display: grid;
      place-items: end start;
      isolation: isolate;

      & > * {
        grid-column: 1 / -1;
        //   grid-row: 1/ -1;
        grid-row: 1/ -1;
      }
    }

    &-img {
      object-fit: cover;
      z-index: -1;
    }

    &-desc {
      padding: $space-s;

      i.bi {
        cursor: pointer;
        color: $primary-clr;
      }
    }

    &-btn {
      border: none;
      border-radius: 1.25em;
      background-color: $custom-btn-bg-clr;

      &:hover {
        background-color: $secondary-clr;
        color: $white-clr;
      }
    }
  }

  .img-logo {
    object-fit: cover;
    min-width: 60px;
    flex-basis: 3%;
    background-color: $white-clr;
    padding: $space-xs;
    border-radius: 50%;
    border: 0.5px solid $p-clr;
  }

  .first-row,
  .second-row,
  .third-row,
  .company,
  .bookmark {
    @include d-flex();
  }

  .company {
    gap: 0.5em;
  }
  .bookmark {
    gap: 0.25em;
  }

  .first-row {
    color: $p-clr;
    justify-content: space-between;
    i.bi:hover {
      color: $custom-btn-bg-clr;
    }
  }

  .second-row {
    color: $p-clr;
  }

  .third-row {
    color: $p-clr;
    justify-content: space-between;
  }

  .btn-group {
    & > *:first-child,
    & > *:last-child {
      display: inline-block;
      font-size: $step--1;
      border-radius: 1.7em;
      padding-block: 0.4em;
    }

    & > *:first-child {
      background-color: $primary-clr;
      color: $white-clr;

      &:hover {
        background-color: $custom-btn-bg-clr;
      }
    }

    & > *:last-child {
      background-color: $section-bg-clr;
      color: $primary-clr;

      &:hover {
        color: $white-clr;
        background-color: $custom-btn-bg-clr;
      }
    }
  }
}
