$white-clr: #ffffff;
$dark-clr: #000000;

$primary-clr: #5d52ba;
$secondary-clr: #00ccef;
$section-bg-clr: #f0f8ff;
$custom-btn-bg-clr: #f65129;
$social-icon-link-bg-clr: #7f73eb;

$cream-clr: #f0ede0;
$brown-clr: #433f30;
$red-clr: #970c10;
$metal-gry-clr: #918e80;
$yellow-clr: #ffdb15;
$royal-blue-clr: #1966b0;
$p-clr: #717275;

$clr-primary-400: 263 55% 52%;
$clr-secondary-400: 217 19% 35%;
$clr-secondary-500: 219 29% 14%;
$clr-neutral-100: 0 0% 100%;
$clr-neutral-200: 210 46% 95%;
$clr-neutral-300: 0 0% 81%;
